{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>DevData</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="Transformación Digital, Web, Móvil, Machine Learning, Data Science">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <style>
    .bg-primary {
      background-color: #3ab5fd !important;
      color: #001f3f !important;
    }

    .bg-info {
      background-color: #3999ff !important;
    }

    .bg-success {
      background-color: #25eaa5 !important;
      color: #001f3f !important;
    }

    .bg-warning {
      background-color: #fad961 !important;
      color: #001f3f !important;
    }

    .bg-danger {
      background-color: #f35b5b !important;
      color: #001f3f !important;
    }
  </style>
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->
          <a href="https://www.facebook.com/DevDataConsulting" target="_blank" class="facebook"><i
              class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/company/67219086/admin/" target="_blank" class="linkedin"><i
              class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/DevDataConsulting" target="_blank" class="instagram"><i
              class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->

        <h1 class="text-light"><a href="#" class="scrollto"><span>DevData</span></a></h1>
        {% include 'includes/messages.html' %}
        <!-- <a href="#header" class="scrollto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Principal</a></li>
          <li><a href="#why-us">Nosotros</a></li>
          <!--
            <ul>
              <li><a href="#">Gobierno</a></li>
             
                <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              
              <li><a href="#">Empresas</a></li>
              <li><a href="#">Academia</a></li>
              <li><a href="#">Sociedad civil</a></li>
            </ul>
            -->
          </li>
          <li><a href="#portfolio">Proyectos</a></li>

          <!--
              <li class="drop-down"><a href="#">TOP</a>
            <ul>
              <li><a href="#">RSUniversitaria</a></li>
              <li><a href="#">RSEmpresarial</a></li>
            </ul>
          </li>
          -->
          <li><a href="#footer">Contáctanos</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">

          <h2>Transformación digital para tu<br><span>organización!</span></h2>
          <div>
            <a href="#portfolio" class="btn-get-started scrollto">Proyectos</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="{% static 'img/devdataPortada.png' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Nosotros
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>DEVDATA</h3>
          <p>Somos empresa que brinda consultorías en Tecnologías de la Información, Gestión de
            proyectos, Mejora de Procesos, Outsourcing, Desarrollo de Modelos Predictivos, Implementación y Soporte
            Tecnológico,
            Desarrollo de Software a medida y Aplicativos Móviles.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-content">
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-line-chart" style="color: #1bb1dc;"></i>
                <h4>ANALÍTICA</h4>
                <p>Optimizamos base de datos, arquitectura de base datos, explotamos al máximo sus datos con analítica
                  avanzada para la toma de decisiones
                  mediante la <b>inteligencia artificial</b>.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-lock" style="color: #4be980;"></i>
                <h4>CiBERSEGURIDAD</h4>
                <p>Para que tu empresa tenga los mejores indices de gestión de riesgos y vulnerabilidades, mejore los
                  indices de ciberseguridad de tu organización.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-code" style="color: #589af1;"></i>
                <h4>SOFTWARE</h4>
                <p>Digitalice y automatice sus procesos, nos encargamos de análisis y mejoramiento de procesos, gestión
                  de proyectos y desarrollo de software a medida.
                  <br>
                  <strong>Realizamos un pre-diagnóstico GRATUITO.</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-mobile-phone" style="color: #f52db2;"></i>
                <h4>APLICACIONES MÓVILES</h4>
                <p>Desarrollamos aplicativos móviles a medida para tu organización, emprendimiento. Asimismo, productos
                  mínimos viables para validar a tu mercado objetivo.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-puzzle-piece" style="color: #0f70df;"></i>
                <h4>SOPORTE TECNOlÓGICO</h4>
                <p>Brindamos soporte tecnológico para su organización, entregamos calidad, 
                  tecnologías modernas, servicio las 24 horas y 7 días de la semana y estamos orientados a resultados.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-cogs" style="color: #227272;"></i>
                <h4>MEJORA DE PROCESOS</h4>
                <p>Estamos preparados para rediseñar y automatizar en la medida de lo posible los procesos de su negocio, mejorar
                  y crear una cadena de valor coherente y competitivo.
                  <br>
                  <strong>Realizamos un pre-diagnóstico GRATUITO.</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">45</span>
            <p>Clientes</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">60</span>
            <p>Proyectos</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">2,364</span>
            <p>Horas De Soporte</p>
          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Nuestros proyectos</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Móvil</li>
              <li data-filter=".filter-web">Web</li>
              <li data-filter=".filter-card">Data Science</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          {% for proyecto in proyectos %}
          {% if proyecto.tipo.slug == 'movil' %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{proyecto.imagen.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{{proyecto.url}}" target="_blank">{{proyecto.nombre}}</a></h4>
                <p>Móvil</p>
                <div>
                  <a href="{{proyecto.imagen.url}}" data-lightbox="portfolio" data-title="{{proyecto.nombre}}"
                    class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{{proyecto.url}}" target="_blank" class="link-details" title="More Details"><i
                      class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% elif proyecto.tipo.slug == 'web' %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{{proyecto.imagen.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{{proyecto.url}}" target="_blank">{{proyecto.nombre}}</a></h4>
                <p>Web</p>
                <div>
                  <a href="{{proyecto.imagen.url}}" class="link-preview" data-lightbox="portfolio"
                    data-title="{{proyecto.nombre}}" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{{proyecto.url}}" target="_blank" class="link-details" title="More Details"><i
                      class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% elif proyecto.tipo.slug == 'data-science' %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{proyecto.imagen.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{{proyecto.url}}" target="_blank">{{proyecto.nombre}}</a></h4>
                <p>Data Science</p>
                <div>
                  <a href="{{proyecto.imagen.url}}" class="link-preview" data-lightbox="portfolio"
                    data-title="{{proyecto.nombre}}" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{{proyecto.url}}" target="_blank" class="link-details" title="More Details"><i
                      class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">
        <header class="section-header">
          <h3>Testimonios.</h3>
        </header>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="owl-carousel testimonials-carousel wow fadeInUp">

              {% for testimonio in testimonios %}
              <div class="testimonial-item">
                <img src="{{testimonio.foto.url}}" class="testimonial-img" alt="{{testimonio.nombre}}">
                <h3>{{testimonio.nombre}}</h3>
                <h4>{{testimonio.ocupacion}}</h4>
                <p>
                  {{testimonio.testimonio}} </p>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </section><!-- #testimonials -->


    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Nuestros Clientes</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          {% for cliente in clientes %}
          <img src="{{cliente.logotipo.url}}" alt="{{cliente.nombre}}">
          {% endfor %}
        </div>

      </div>
    </section><!-- #clients -->
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="footer-info">
                  <h3>DevData</h3>
                  <p>Estamos listos para acompañarte en la TRANSFORMACIÓN DIGITAL
                    que su organización y responder de manera más efectiva a los cambios actuales.</p>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="footer-links">
                  <h4>Contáctanos</h4>
                  <p>
                    A108 Adam Street <br>
                    New York, NY 535022<br>
                    United States <br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <!--
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  -->
                  <a href="https://www.facebook.com/DevDataConsulting" class="facebook" target="_blank"><i
                      class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/company/67219086/admin/" class="instagram" target="_blank"><i
                      class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Envíanos un mensaje</h4>
              <p>Déjenos un mensaje y nos prondremos en contácto lo más pronto posible.</p>

              <form action="" method="post" role="form" class="contactForm">
                {% csrf_token %}

                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" required
                    placeholder="Nombre de referencia" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" name="telefono" id="telefono" required
                    placeholder="Número de celular" data-rule="telefono" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" required
                    placeholder="Correo electrónico" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="asunto" id="subject" required autocomplete="off"
                    placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="mensaje" rows="5" data-rule="required"
                    data-msg="Please write something for us" required placeholder="Mensaje"></textarea>
                  <div class="validation"></div>
                </div>
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="text-center"><button type="submit" title="Send Message">Enviar <i class="fa fa-paper-plane-o"></i> </button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Empresa <strong>DevData</strong>. 2020
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>